# Claude
.claude/
CLAUDE.md
.planning/

# Python
__pycache__/
*.pyc
venv/

# OS
.DS_Store

# Reference docs
HMC8012_SCPI_Reference.md
HMC8012_user_manual.md

# Runtime output
result.txt

#additional files
*.jpg
*.pdf
.explained.md
*.csv